In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('datasets/parkingsensor.csv', parse_dates=True, infer_datetime_format=True)
df['datetime'] = pd.to_datetime(df['datetime'], infer_datetime_format=True, utc=True)

print(df.shape)
print(df.nunique())
df.head(2)

(2633420, 4)
bay_id          1420
st_marker_id    1420
status             2
datetime        2356
dtype: int64

   bay_id st_marker_id      status                         datetime
0    4044        C6126     Present 2021-08-13 12:30:39.749530+00:00
1    5361        8903W  Unoccupied 2021-08-13 12:30:39.749530+00:00

In [3]:
!geopy

/bin/bash: geopy: command not found

In [2]:
from geopy.distance import geodesic

lat, lng = -37.80460962396392, 144.95469755661333
radius = "200"

### geo filtering based on lat,lng, radius parameters ###
# lat, lng are floats, radius is string integer
# read in base list of 5895 parking bays with marker id's and lati long
df_baselist = pd.read_csv('datasets/ps_baselist.csv')
# initialisation of filter loop
pin = (lat,lng)
r = int(radius)
j = 0
lst_marker_ids = []
# filter loop
for i in np.arange(0,df_baselist.shape[0]):
    d =  geodesic(pin, (df_baselist.lati[i], df_baselist.long[i])).meters
    if d<=r:
        lst_marker_ids.append(df_baselist.st_marker_id[i])
        j=j+1
    else:
        continue
# df below is result of filter by circle
df = df[df["st_marker_id"].isin(lst_marker_ids)] 

print(df.shape)
print(df.nunique())
df.head(2)

(263769, 4)
bay_id           117
st_marker_id     117
status             2
datetime        2349
dtype: int64

     bay_id st_marker_id   status                         datetime
135    4422        C7684  Present 2021-08-13 12:30:39.749530+00:00
191    3993        C5954  Present 2021-08-13 12:30:39.749530+00:00

In [6]:
print(df.shape)
df.head(3)

(2633420, 4)

   bay_id st_marker_id      status                         datetime
0    4044        C6126     Present 2021-08-13 12:30:39.749530+00:00
1    5361        8903W  Unoccupied 2021-08-13 12:30:39.749530+00:00
2    3686        7646N     Present 2021-08-13 12:30:39.749530+00:00

In [17]:
print(df_baselist.shape)
df_baselist.head(3)

(5895, 3)

  st_marker_id       lati        long
0        C5010 -37.806447  144.958202
1        4999W -37.806586  144.958043
2        1114E -37.815324  144.960975

In [19]:
df_merge = pd.merge(df_baselist, df, on='st_marker_id', how='inner')
# df_merge = df_merge[["st_marker_id","status","datetime"]]
print(df_merge.shape)
df_merge.head(3)

(2628826, 3)

  st_marker_id      status                  datetime
0        1114E  Unoccupied 2021-08-26 19:39:52+00:00
1        1114E  Unoccupied 2021-08-26 19:54:53+00:00
2        1114E  Unoccupied 2021-08-26 20:09:53+00:00