In [1]:
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.melbourne.vic.gov.au", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.melbourne.vic.gov.au,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("vh2v-4nfs", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [7]:
results_df = results_df.iloc[:,[0,1,2,4,5]]

     bay_id st_marker_id      status                  lat                 lon
0      5345        8871W  Unoccupied   -37.82543122206522  144.96054694628188
1      5247       11519S  Unoccupied   -37.81180757381466  144.95220579837365
2      4114        C6380  Unoccupied  -37.804008866097604  144.95095945647938
3      5011        9443S  Unoccupied  -37.830222665972336  144.96604735511164
4      5518       11969W  Unoccupied  -37.814583043445566  144.98272347942634
...     ...          ...         ...                  ...                 ...
1239   3719        7722N  Unoccupied    -37.8033264017554  144.95290410890726
1240   1471        1775S     Present    -37.8167541660727  144.96609310265694
1241   3019        5100E     Present  -37.804378178842995   144.9577120543801
1242   3727        7762N  Unoccupied   -37.80254076503344   144.9458218122118
1243   2999        5048E     Present  -37.805320727736856  144.95814372075984

[1244 rows x 5 columns]